/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.box {
    background-color: #eeeeee;
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

body {
    font-family: "Comfortaa", cursive;
    padding-top: 80px;
    padding-left: 10px;
}
